Web.UnitTests/Web References/WebServices.Blog/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dblock.org/ns/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://dblock.org/ns/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dblock.org/ns/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginResult" type="tns:TransitLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitLogin">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Role" type="tns:TransitLoginRole" />
              <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TransitObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TransitLoginRole">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Guest" />
          <s:enumeration value="Administrator" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLoginById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginByIdResult" type="tns:TransitLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_login" type="tns:TransitLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:WebServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceQueryOptions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoginsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginsResult" type="tns:ArrayOfTransitLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitLogin" nillable="true" type="tns:TransitLogin" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTopicById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopicByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopicByIdResult" type="tns:TransitTopic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitTopic">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateOrUpdateTopic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_topic" type="tns:TransitTopic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateTopicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateTopicResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:WebServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopicsResult" type="tns:ArrayOfTransitTopic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitTopic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitTopic" nillable="true" type="tns:TransitTopic" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteTopic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTopicResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitle">
        <s:complexType />
      </s:element>
      <s:element name="GetTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCopyright">
        <s:complexType />
      </s:element>
      <s:element name="GetCopyrightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCopyrightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDescription">
        <s:complexType />
      </s:element>
      <s:element name="GetDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUptime">
        <s:complexType />
      </s:element>
      <s:element name="GetUptimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUptimeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogin" />
  </wsdl:message>
  <wsdl:message name="GetLoginSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginById" />
  </wsdl:message>
  <wsdl:message name="GetLoginByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginByIdResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateLogin" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogins" />
  </wsdl:message>
  <wsdl:message name="GetLoginsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteLoginSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteLogin" />
  </wsdl:message>
  <wsdl:message name="DeleteLoginSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopicByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopicById" />
  </wsdl:message>
  <wsdl:message name="GetTopicByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopicByIdResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateTopicSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateTopic" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateTopicSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateTopicResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopicsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopics" />
  </wsdl:message>
  <wsdl:message name="GetTopicsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTopicSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTopic" />
  </wsdl:message>
  <wsdl:message name="DeleteTopicSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTopicResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitle" />
  </wsdl:message>
  <wsdl:message name="GetTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetCopyrightSoapIn">
    <wsdl:part name="parameters" element="tns:GetCopyright" />
  </wsdl:message>
  <wsdl:message name="GetCopyrightSoapOut">
    <wsdl:part name="parameters" element="tns:GetCopyrightResponse" />
  </wsdl:message>
  <wsdl:message name="GetDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetDescription" />
  </wsdl:message>
  <wsdl:message name="GetDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetUptimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUptime" />
  </wsdl:message>
  <wsdl:message name="GetUptimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUptimeResponse" />
  </wsdl:message>
  <wsdl:portType name="BlogSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login to an account.</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a login.</wsdl:documentation>
      <wsdl:input message="tns:GetLoginSoapIn" />
      <wsdl:output message="tns:GetLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a login.</wsdl:documentation>
      <wsdl:input message="tns:GetLoginByIdSoapIn" />
      <wsdl:output message="tns:GetLoginByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create or update a login.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateLoginSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get logins.</wsdl:documentation>
      <wsdl:input message="tns:GetLoginsSoapIn" />
      <wsdl:output message="tns:GetLoginsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a login.</wsdl:documentation>
      <wsdl:input message="tns:DeleteLoginSoapIn" />
      <wsdl:output message="tns:DeleteLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopicById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a topic.</wsdl:documentation>
      <wsdl:input message="tns:GetTopicByIdSoapIn" />
      <wsdl:output message="tns:GetTopicByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateTopic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create or update a topic.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateTopicSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateTopicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get topics.</wsdl:documentation>
      <wsdl:input message="tns:GetTopicsSoapIn" />
      <wsdl:output message="tns:GetTopicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a topic.</wsdl:documentation>
      <wsdl:input message="tns:DeleteTopicSoapIn" />
      <wsdl:output message="tns:DeleteTopicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">System version.</wsdl:documentation>
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">System title.</wsdl:documentation>
      <wsdl:input message="tns:GetTitleSoapIn" />
      <wsdl:output message="tns:GetTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCopyright">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Product copyright.</wsdl:documentation>
      <wsdl:input message="tns:GetCopyrightSoapIn" />
      <wsdl:output message="tns:GetCopyrightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Product description.</wsdl:documentation>
      <wsdl:input message="tns:GetDescriptionSoapIn" />
      <wsdl:output message="tns:GetDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUptime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Product uptime in ticks.</wsdl:documentation>
      <wsdl:input message="tns:GetUptimeSoapIn" />
      <wsdl:output message="tns:GetUptimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlogSoap" type="tns:BlogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://dblock.org/ns/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <soap:operation soapAction="http://dblock.org/ns/GetLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <soap:operation soapAction="http://dblock.org/ns/GetLoginById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLogin">
      <soap:operation soapAction="http://dblock.org/ns/CreateOrUpdateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <soap:operation soapAction="http://dblock.org/ns/GetLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <soap:operation soapAction="http://dblock.org/ns/DeleteLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicById">
      <soap:operation soapAction="http://dblock.org/ns/GetTopicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateTopic">
      <soap:operation soapAction="http://dblock.org/ns/CreateOrUpdateTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <soap:operation soapAction="http://dblock.org/ns/GetTopics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <soap:operation soapAction="http://dblock.org/ns/DeleteTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://dblock.org/ns/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <soap:operation soapAction="http://dblock.org/ns/GetTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCopyright">
      <soap:operation soapAction="http://dblock.org/ns/GetCopyright" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <soap:operation soapAction="http://dblock.org/ns/GetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUptime">
      <soap:operation soapAction="http://dblock.org/ns/GetUptime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BlogSoap12" type="tns:BlogSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://dblock.org/ns/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <soap12:operation soapAction="http://dblock.org/ns/GetLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <soap12:operation soapAction="http://dblock.org/ns/GetLoginById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLogin">
      <soap12:operation soapAction="http://dblock.org/ns/CreateOrUpdateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <soap12:operation soapAction="http://dblock.org/ns/GetLogins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <soap12:operation soapAction="http://dblock.org/ns/DeleteLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicById">
      <soap12:operation soapAction="http://dblock.org/ns/GetTopicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateTopic">
      <soap12:operation soapAction="http://dblock.org/ns/CreateOrUpdateTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <soap12:operation soapAction="http://dblock.org/ns/GetTopics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <soap12:operation soapAction="http://dblock.org/ns/DeleteTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://dblock.org/ns/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <soap12:operation soapAction="http://dblock.org/ns/GetTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCopyright">
      <soap12:operation soapAction="http://dblock.org/ns/GetCopyright" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <soap12:operation soapAction="http://dblock.org/ns/GetDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUptime">
      <soap12:operation soapAction="http://dblock.org/ns/GetUptime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Blog">
    <wsdl:port name="BlogSoap" binding="tns:BlogSoap">
      <soap:address location="http://localhost/DBlog/WebServices.Blog.asmx" />
    </wsdl:port>
    <wsdl:port name="BlogSoap12" binding="tns:BlogSoap12">
      <soap12:address location="http://localhost/DBlog/WebServices.Blog.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>