Web.UnitTests/Web References/WebServices.Blog/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dblock.org/ns/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://dblock.org/ns/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dblock.org/ns/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginResult" type="tns:TransitLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitLogin">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Role" type="tns:TransitLoginRole" />
              <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TransitObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TransitLoginRole">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Guest" />
          <s:enumeration value="Administrator" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLoginById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginByIdResult" type="tns:TransitLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_login" type="tns:TransitLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLoginsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:WebServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceQueryOptions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoginsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginsResult" type="tns:ArrayOfTransitLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitLogin" nillable="true" type="tns:TransitLogin" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTopicById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopicByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopicByIdResult" type="tns:TransitTopic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitTopic">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateOrUpdateTopic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_topic" type="tns:TransitTopic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateTopicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateTopicResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopicsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopicsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTopicsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:WebServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopicsResult" type="tns:ArrayOfTransitTopic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitTopic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitTopic" nillable="true" type="tns:TransitTopic" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteTopic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTopicResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBlogById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogByIdResult" type="tns:TransitBlog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitBlog">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:TransitBlogType" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Modified" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TopicName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TopicId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TemplateId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="OwnerLoginId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ImageId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TransitBlogType">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Entry" />
          <s:enumeration value="Gallery" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetBlogsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:TransitBlogQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitBlogQueryOptions">
        <s:complexContent mixed="false">
          <s:extension base="tns:WebServiceQueryOptions">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TopicId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetBlogsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBlogsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:TransitBlogQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogsResult" type="tns:ArrayOfTransitBlog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitBlog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitBlog" nillable="true" type="tns:TransitBlog" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOrUpdateImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_image" type="tns:TransitImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitImage">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Preferred" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
              <s:element minOccurs="0" maxOccurs="1" name="Thumbnail" type="s:base64Binary" />
              <s:element minOccurs="1" maxOccurs="1" name="Modified" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateOrUpdateImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateImageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageByIdResult" type="tns:TransitImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetImagesCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImagesCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetImagesCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageWithBitmapById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageWithBitmapByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageWithBitmapByIdResult" type="tns:TransitImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageWithBitmapByIdIfModifiedSince">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ifModifiedSince" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageWithBitmapByIdIfModifiedSinceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageWithBitmapByIdIfModifiedSinceResult" type="tns:TransitImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageWithThumbnailById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageWithThumbnailByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageWithThumbnailByIdResult" type="tns:TransitImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageWithThumbnailByIdIfModifiedSince">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ifModifiedSince" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageWithThumbnailByIdIfModifiedSinceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageWithThumbnailByIdIfModifiedSinceResult" type="tns:TransitImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferenceById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferenceByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReferenceByIdResult" type="tns:TransitReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitReference">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Word" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetReferenceByWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferenceByWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReferenceByWordResult" type="tns:TransitReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_reference" type="tns:TransitReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateReferenceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferencesCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferencesCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetReferencesCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:WebServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReferencesResult" type="tns:ArrayOfTransitReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitReference">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitReference" nillable="true" type="tns:TransitReference" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReferenceResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetReferrerHostRollupById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferrerHostRollupByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReferrerHostRollupByIdResult" type="tns:TransitReferrerHostRollup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitReferrerHostRollup">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rollup" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateOrUpdateReferrerHostRollup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_referrerhostrollup" type="tns:TransitReferrerHostRollup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateReferrerHostRollupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateReferrerHostRollupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferrerHostRollupsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferrerHostRollupsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetReferrerHostRollupsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferrerHostRollups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:WebServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferrerHostRollupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReferrerHostRollupsResult" type="tns:ArrayOfTransitReferrerHostRollup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitReferrerHostRollup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitReferrerHostRollup" nillable="true" type="tns:TransitReferrerHostRollup" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteReferrerHostRollup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReferrerHostRollupResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitle">
        <s:complexType />
      </s:element>
      <s:element name="GetTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCopyright">
        <s:complexType />
      </s:element>
      <s:element name="GetCopyrightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCopyrightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDescription">
        <s:complexType />
      </s:element>
      <s:element name="GetDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUptime">
        <s:complexType />
      </s:element>
      <s:element name="GetUptimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUptimeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogin" />
  </wsdl:message>
  <wsdl:message name="GetLoginSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginById" />
  </wsdl:message>
  <wsdl:message name="GetLoginByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginByIdResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateLogin" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginsCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginsCount" />
  </wsdl:message>
  <wsdl:message name="GetLoginsCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginsCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogins" />
  </wsdl:message>
  <wsdl:message name="GetLoginsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteLoginSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteLogin" />
  </wsdl:message>
  <wsdl:message name="DeleteLoginSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopicByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopicById" />
  </wsdl:message>
  <wsdl:message name="GetTopicByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopicByIdResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateTopicSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateTopic" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateTopicSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateTopicResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopicsCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopicsCount" />
  </wsdl:message>
  <wsdl:message name="GetTopicsCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopicsCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopicsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopics" />
  </wsdl:message>
  <wsdl:message name="GetTopicsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTopicSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTopic" />
  </wsdl:message>
  <wsdl:message name="DeleteTopicSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTopicResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogById" />
  </wsdl:message>
  <wsdl:message name="GetBlogByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogsCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogsCount" />
  </wsdl:message>
  <wsdl:message name="GetBlogsCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogsCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogs" />
  </wsdl:message>
  <wsdl:message name="GetBlogsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateImageSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateImage" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateImageSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageById" />
  </wsdl:message>
  <wsdl:message name="GetImageByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetImagesCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetImagesCount" />
  </wsdl:message>
  <wsdl:message name="GetImagesCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetImagesCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageWithBitmapByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageWithBitmapById" />
  </wsdl:message>
  <wsdl:message name="GetImageWithBitmapByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageWithBitmapByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageWithBitmapByIdIfModifiedSinceSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageWithBitmapByIdIfModifiedSince" />
  </wsdl:message>
  <wsdl:message name="GetImageWithBitmapByIdIfModifiedSinceSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageWithBitmapByIdIfModifiedSinceResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageWithThumbnailByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageWithThumbnailById" />
  </wsdl:message>
  <wsdl:message name="GetImageWithThumbnailByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageWithThumbnailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageWithThumbnailByIdIfModifiedSinceSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageWithThumbnailByIdIfModifiedSince" />
  </wsdl:message>
  <wsdl:message name="GetImageWithThumbnailByIdIfModifiedSinceSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageWithThumbnailByIdIfModifiedSinceResponse" />
  </wsdl:message>
  <wsdl:message name="GetReferenceByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetReferenceById" />
  </wsdl:message>
  <wsdl:message name="GetReferenceByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetReferenceByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetReferenceByWordSoapIn">
    <wsdl:part name="parameters" element="tns:GetReferenceByWord" />
  </wsdl:message>
  <wsdl:message name="GetReferenceByWordSoapOut">
    <wsdl:part name="parameters" element="tns:GetReferenceByWordResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateReference" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="GetReferencesCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetReferencesCount" />
  </wsdl:message>
  <wsdl:message name="GetReferencesCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetReferencesCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetReferencesSoapIn">
    <wsdl:part name="parameters" element="tns:GetReferences" />
  </wsdl:message>
  <wsdl:message name="GetReferencesSoapOut">
    <wsdl:part name="parameters" element="tns:GetReferencesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteReference" />
  </wsdl:message>
  <wsdl:message name="DeleteReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="GetReferrerHostRollupByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetReferrerHostRollupById" />
  </wsdl:message>
  <wsdl:message name="GetReferrerHostRollupByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetReferrerHostRollupByIdResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateReferrerHostRollupSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateReferrerHostRollup" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateReferrerHostRollupSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateReferrerHostRollupResponse" />
  </wsdl:message>
  <wsdl:message name="GetReferrerHostRollupsCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetReferrerHostRollupsCount" />
  </wsdl:message>
  <wsdl:message name="GetReferrerHostRollupsCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetReferrerHostRollupsCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetReferrerHostRollupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReferrerHostRollups" />
  </wsdl:message>
  <wsdl:message name="GetReferrerHostRollupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReferrerHostRollupsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteReferrerHostRollupSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteReferrerHostRollup" />
  </wsdl:message>
  <wsdl:message name="DeleteReferrerHostRollupSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteReferrerHostRollupResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitle" />
  </wsdl:message>
  <wsdl:message name="GetTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetCopyrightSoapIn">
    <wsdl:part name="parameters" element="tns:GetCopyright" />
  </wsdl:message>
  <wsdl:message name="GetCopyrightSoapOut">
    <wsdl:part name="parameters" element="tns:GetCopyrightResponse" />
  </wsdl:message>
  <wsdl:message name="GetDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetDescription" />
  </wsdl:message>
  <wsdl:message name="GetDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetUptimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUptime" />
  </wsdl:message>
  <wsdl:message name="GetUptimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUptimeResponse" />
  </wsdl:message>
  <wsdl:portType name="BlogSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login to an account.</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a login.</wsdl:documentation>
      <wsdl:input message="tns:GetLoginSoapIn" />
      <wsdl:output message="tns:GetLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a login.</wsdl:documentation>
      <wsdl:input message="tns:GetLoginByIdSoapIn" />
      <wsdl:output message="tns:GetLoginByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create or update a login.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateLoginSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginsCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get logins count.</wsdl:documentation>
      <wsdl:input message="tns:GetLoginsCountSoapIn" />
      <wsdl:output message="tns:GetLoginsCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get logins.</wsdl:documentation>
      <wsdl:input message="tns:GetLoginsSoapIn" />
      <wsdl:output message="tns:GetLoginsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a login.</wsdl:documentation>
      <wsdl:input message="tns:DeleteLoginSoapIn" />
      <wsdl:output message="tns:DeleteLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopicById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a topic.</wsdl:documentation>
      <wsdl:input message="tns:GetTopicByIdSoapIn" />
      <wsdl:output message="tns:GetTopicByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateTopic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create or update a topic.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateTopicSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateTopicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopicsCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get topics count.</wsdl:documentation>
      <wsdl:input message="tns:GetTopicsCountSoapIn" />
      <wsdl:output message="tns:GetTopicsCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get topics.</wsdl:documentation>
      <wsdl:input message="tns:GetTopicsSoapIn" />
      <wsdl:output message="tns:GetTopicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a topic.</wsdl:documentation>
      <wsdl:input message="tns:DeleteTopicSoapIn" />
      <wsdl:output message="tns:DeleteTopicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a blog.</wsdl:documentation>
      <wsdl:input message="tns:GetBlogByIdSoapIn" />
      <wsdl:output message="tns:GetBlogByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogsCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get blogs count.</wsdl:documentation>
      <wsdl:input message="tns:GetBlogsCountSoapIn" />
      <wsdl:output message="tns:GetBlogsCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get blogs.</wsdl:documentation>
      <wsdl:input message="tns:GetBlogsSoapIn" />
      <wsdl:output message="tns:GetBlogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create or update an image.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateImageSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get an image.</wsdl:documentation>
      <wsdl:input message="tns:GetImageByIdSoapIn" />
      <wsdl:output message="tns:GetImageByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete an image.</wsdl:documentation>
      <wsdl:input message="tns:DeleteImageSoapIn" />
      <wsdl:output message="tns:DeleteImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImagesCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get images count.</wsdl:documentation>
      <wsdl:input message="tns:GetImagesCountSoapIn" />
      <wsdl:output message="tns:GetImagesCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageWithBitmapById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get image data.</wsdl:documentation>
      <wsdl:input message="tns:GetImageWithBitmapByIdSoapIn" />
      <wsdl:output message="tns:GetImageWithBitmapByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageWithBitmapByIdIfModifiedSince">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get image data if modified since.</wsdl:documentation>
      <wsdl:input message="tns:GetImageWithBitmapByIdIfModifiedSinceSoapIn" />
      <wsdl:output message="tns:GetImageWithBitmapByIdIfModifiedSinceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageWithThumbnailById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get image thumbnail.</wsdl:documentation>
      <wsdl:input message="tns:GetImageWithThumbnailByIdSoapIn" />
      <wsdl:output message="tns:GetImageWithThumbnailByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageWithThumbnailByIdIfModifiedSince">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get image thumbnail if modified since.</wsdl:documentation>
      <wsdl:input message="tns:GetImageWithThumbnailByIdIfModifiedSinceSoapIn" />
      <wsdl:output message="tns:GetImageWithThumbnailByIdIfModifiedSinceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReferenceById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a reference.</wsdl:documentation>
      <wsdl:input message="tns:GetReferenceByIdSoapIn" />
      <wsdl:output message="tns:GetReferenceByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReferenceByWord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a reference.</wsdl:documentation>
      <wsdl:input message="tns:GetReferenceByWordSoapIn" />
      <wsdl:output message="tns:GetReferenceByWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateReference">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create or update a reference.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateReferenceSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReferencesCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get references count.</wsdl:documentation>
      <wsdl:input message="tns:GetReferencesCountSoapIn" />
      <wsdl:output message="tns:GetReferencesCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get references.</wsdl:documentation>
      <wsdl:input message="tns:GetReferencesSoapIn" />
      <wsdl:output message="tns:GetReferencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReference">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a reference.</wsdl:documentation>
      <wsdl:input message="tns:DeleteReferenceSoapIn" />
      <wsdl:output message="tns:DeleteReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollupById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a referrer host rollup.</wsdl:documentation>
      <wsdl:input message="tns:GetReferrerHostRollupByIdSoapIn" />
      <wsdl:output message="tns:GetReferrerHostRollupByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateReferrerHostRollup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create or update a referrer host rollup.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateReferrerHostRollupSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateReferrerHostRollupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollupsCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get referrer host rollups count.</wsdl:documentation>
      <wsdl:input message="tns:GetReferrerHostRollupsCountSoapIn" />
      <wsdl:output message="tns:GetReferrerHostRollupsCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get referrer host rollups.</wsdl:documentation>
      <wsdl:input message="tns:GetReferrerHostRollupsSoapIn" />
      <wsdl:output message="tns:GetReferrerHostRollupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReferrerHostRollup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a referrer host rollup.</wsdl:documentation>
      <wsdl:input message="tns:DeleteReferrerHostRollupSoapIn" />
      <wsdl:output message="tns:DeleteReferrerHostRollupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">System version.</wsdl:documentation>
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">System title.</wsdl:documentation>
      <wsdl:input message="tns:GetTitleSoapIn" />
      <wsdl:output message="tns:GetTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCopyright">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Product copyright.</wsdl:documentation>
      <wsdl:input message="tns:GetCopyrightSoapIn" />
      <wsdl:output message="tns:GetCopyrightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Product description.</wsdl:documentation>
      <wsdl:input message="tns:GetDescriptionSoapIn" />
      <wsdl:output message="tns:GetDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUptime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Product uptime in ticks.</wsdl:documentation>
      <wsdl:input message="tns:GetUptimeSoapIn" />
      <wsdl:output message="tns:GetUptimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlogSoap" type="tns:BlogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://dblock.org/ns/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <soap:operation soapAction="http://dblock.org/ns/GetLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <soap:operation soapAction="http://dblock.org/ns/GetLoginById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLogin">
      <soap:operation soapAction="http://dblock.org/ns/CreateOrUpdateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginsCount">
      <soap:operation soapAction="http://dblock.org/ns/GetLoginsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <soap:operation soapAction="http://dblock.org/ns/GetLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <soap:operation soapAction="http://dblock.org/ns/DeleteLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicById">
      <soap:operation soapAction="http://dblock.org/ns/GetTopicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateTopic">
      <soap:operation soapAction="http://dblock.org/ns/CreateOrUpdateTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicsCount">
      <soap:operation soapAction="http://dblock.org/ns/GetTopicsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <soap:operation soapAction="http://dblock.org/ns/GetTopics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <soap:operation soapAction="http://dblock.org/ns/DeleteTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <soap:operation soapAction="http://dblock.org/ns/GetBlogById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogsCount">
      <soap:operation soapAction="http://dblock.org/ns/GetBlogsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogs">
      <soap:operation soapAction="http://dblock.org/ns/GetBlogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateImage">
      <soap:operation soapAction="http://dblock.org/ns/CreateOrUpdateImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <soap:operation soapAction="http://dblock.org/ns/GetImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://dblock.org/ns/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImagesCount">
      <soap:operation soapAction="http://dblock.org/ns/GetImagesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWithBitmapById">
      <soap:operation soapAction="http://dblock.org/ns/GetImageWithBitmapById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWithBitmapByIdIfModifiedSince">
      <soap:operation soapAction="http://dblock.org/ns/GetImageWithBitmapByIdIfModifiedSince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWithThumbnailById">
      <soap:operation soapAction="http://dblock.org/ns/GetImageWithThumbnailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWithThumbnailByIdIfModifiedSince">
      <soap:operation soapAction="http://dblock.org/ns/GetImageWithThumbnailByIdIfModifiedSince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceById">
      <soap:operation soapAction="http://dblock.org/ns/GetReferenceById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceByWord">
      <soap:operation soapAction="http://dblock.org/ns/GetReferenceByWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateReference">
      <soap:operation soapAction="http://dblock.org/ns/CreateOrUpdateReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesCount">
      <soap:operation soapAction="http://dblock.org/ns/GetReferencesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <soap:operation soapAction="http://dblock.org/ns/GetReferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReference">
      <soap:operation soapAction="http://dblock.org/ns/DeleteReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollupById">
      <soap:operation soapAction="http://dblock.org/ns/GetReferrerHostRollupById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateReferrerHostRollup">
      <soap:operation soapAction="http://dblock.org/ns/CreateOrUpdateReferrerHostRollup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollupsCount">
      <soap:operation soapAction="http://dblock.org/ns/GetReferrerHostRollupsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollups">
      <soap:operation soapAction="http://dblock.org/ns/GetReferrerHostRollups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReferrerHostRollup">
      <soap:operation soapAction="http://dblock.org/ns/DeleteReferrerHostRollup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://dblock.org/ns/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <soap:operation soapAction="http://dblock.org/ns/GetTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCopyright">
      <soap:operation soapAction="http://dblock.org/ns/GetCopyright" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <soap:operation soapAction="http://dblock.org/ns/GetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUptime">
      <soap:operation soapAction="http://dblock.org/ns/GetUptime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BlogSoap12" type="tns:BlogSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://dblock.org/ns/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <soap12:operation soapAction="http://dblock.org/ns/GetLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <soap12:operation soapAction="http://dblock.org/ns/GetLoginById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLogin">
      <soap12:operation soapAction="http://dblock.org/ns/CreateOrUpdateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginsCount">
      <soap12:operation soapAction="http://dblock.org/ns/GetLoginsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <soap12:operation soapAction="http://dblock.org/ns/GetLogins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <soap12:operation soapAction="http://dblock.org/ns/DeleteLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicById">
      <soap12:operation soapAction="http://dblock.org/ns/GetTopicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateTopic">
      <soap12:operation soapAction="http://dblock.org/ns/CreateOrUpdateTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicsCount">
      <soap12:operation soapAction="http://dblock.org/ns/GetTopicsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <soap12:operation soapAction="http://dblock.org/ns/GetTopics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <soap12:operation soapAction="http://dblock.org/ns/DeleteTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <soap12:operation soapAction="http://dblock.org/ns/GetBlogById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogsCount">
      <soap12:operation soapAction="http://dblock.org/ns/GetBlogsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogs">
      <soap12:operation soapAction="http://dblock.org/ns/GetBlogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateImage">
      <soap12:operation soapAction="http://dblock.org/ns/CreateOrUpdateImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <soap12:operation soapAction="http://dblock.org/ns/GetImageById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap12:operation soapAction="http://dblock.org/ns/DeleteImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImagesCount">
      <soap12:operation soapAction="http://dblock.org/ns/GetImagesCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWithBitmapById">
      <soap12:operation soapAction="http://dblock.org/ns/GetImageWithBitmapById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWithBitmapByIdIfModifiedSince">
      <soap12:operation soapAction="http://dblock.org/ns/GetImageWithBitmapByIdIfModifiedSince" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWithThumbnailById">
      <soap12:operation soapAction="http://dblock.org/ns/GetImageWithThumbnailById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWithThumbnailByIdIfModifiedSince">
      <soap12:operation soapAction="http://dblock.org/ns/GetImageWithThumbnailByIdIfModifiedSince" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceById">
      <soap12:operation soapAction="http://dblock.org/ns/GetReferenceById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceByWord">
      <soap12:operation soapAction="http://dblock.org/ns/GetReferenceByWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateReference">
      <soap12:operation soapAction="http://dblock.org/ns/CreateOrUpdateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesCount">
      <soap12:operation soapAction="http://dblock.org/ns/GetReferencesCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <soap12:operation soapAction="http://dblock.org/ns/GetReferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReference">
      <soap12:operation soapAction="http://dblock.org/ns/DeleteReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollupById">
      <soap12:operation soapAction="http://dblock.org/ns/GetReferrerHostRollupById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateReferrerHostRollup">
      <soap12:operation soapAction="http://dblock.org/ns/CreateOrUpdateReferrerHostRollup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollupsCount">
      <soap12:operation soapAction="http://dblock.org/ns/GetReferrerHostRollupsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerHostRollups">
      <soap12:operation soapAction="http://dblock.org/ns/GetReferrerHostRollups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReferrerHostRollup">
      <soap12:operation soapAction="http://dblock.org/ns/DeleteReferrerHostRollup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://dblock.org/ns/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <soap12:operation soapAction="http://dblock.org/ns/GetTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCopyright">
      <soap12:operation soapAction="http://dblock.org/ns/GetCopyright" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <soap12:operation soapAction="http://dblock.org/ns/GetDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUptime">
      <soap12:operation soapAction="http://dblock.org/ns/GetUptime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Blog">
    <wsdl:port name="BlogSoap" binding="tns:BlogSoap">
      <soap:address location="http://localhost/DBlog/WebServices.Blog.asmx" />
    </wsdl:port>
    <wsdl:port name="BlogSoap12" binding="tns:BlogSoap12">
      <soap12:address location="http://localhost/DBlog/WebServices.Blog.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>